
  <%= render 'form' %>

  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <ul>
    <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


