.btn-treehouse {
color: white;
border: 2px solid white;
padding: 15px 25px;
border-radius: 50px;
font-weight: lighter;
}

.btn-treehouse:hover {
color: rgb(108, 122, 137);
border: 3px solid rgb(108, 122, 137);
}

